body {
  color: #fff;
  background: url('../images/orange.jpg');
  font-family: "Comic Sans MS";
}

.home-page {
  text-align: center;

  div {
    margin: 5px;
  }
}

.monkey-list {
  text-align: center;
}

.monkey {
  text-align: center;
}

.monkey-image img {
  margin: 10px;
}
